@import "tailwindcss";

@theme {
  --color-boxing-red: #c40110;
  --color-legacy-red: #6f1712;
}

/* inter-variable-normal */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 25% 150%;
  font-display: swap;
  src: url("/pages/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

/* inter-variable-italic */
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 25% 150%;
  font-display: swap;
  src: url("/pages/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}



html {
  font-family: "Inter", sans-serif;
  background-color: var(--color-slate-950);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}
