@import "tailwindcss";

@theme {
  --color-boxing-red: #c40110;
  --color-legacy-red: #6F1712;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-slate-950);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}
