@import "tailwindcss";

@theme {
  --color-boxing-red: #c40110;
  --color-legacy-red: #6F1712;

  --animate-fade-in: fade-in 1s 2s;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
}
html {
  background-color: var(--color-slate-950);
  height: 100%;
  width: 100%;
  overflow: hidden;
}