<header
  id="legacy-boxing-header"
  class="py-4 bg-black px-4 sticky top-0 z-50 shadow-sm shadow-gray-700"
>
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="w-full md:w-auto flex justify-between items-center">
        <a
          href="/"
          class="text-2xl font-bold"
        >
          <span class="text-boxing-red">Legacy</span>
          Boxing
        </a>
        <button
          id="menu-toggle"
          aria-label="Toggle Navigation Menu"
          class="block md:hidden focus:outline-none"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="https://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            >
            </path>
          </svg>
        </button>
      </div>
      <nav
        id="mobile-menu"
        class="hidden w-full md:block md:w-auto"
      >
        <ul
          class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2 pt-4 md:pt-0 font-semibold"
        >
          <li>
            <a
              href="/"
              class="block px-2 py-1 hover:underline hover:text-boxing-red transition"
            >
              Home
            </a>
          </li>
          <li>
            <a
              href="/pages/courses/"
              class="block px-2 py-1 hover:underline hover:text-boxing-red transition"
            >
              Courses
            </a>
          </li>
          <li>
            <a
              href="/pages/membership/"
              class="block px-2 py-1 hover:underline hover:text-boxing-red transition"
            >
              Membership
            </a>
          </li>
          <li>
            <a
              href="/pages/gallery/"
              class="block px-2 py-1 hover:underline hover:text-boxing-red transition"
            >
              Gallery
            </a>
          </li>
          <li>
            <a
              href="/pages/contact/"
              class="block px-2 py-1 hover:underline hover:text-boxing-red transition"
            >
              Contact Us
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>