<div class="py-10">
  <div class="container mx-auto max-w-4xl">
    <div class="flex items-center gap-4 mb-6">
      <div class="h-10 w-1.5 bg-boxing-red rounded-full">
      </div>
      <h2 class="text-3xl md:text-4xl font-bold">Weekly Schedule</h2>
    </div>

    <div class="overflow-auto max-h-120 md:max-h-160 lg:max-h-180 rounded-lg">
      <load src="/pages/components/schedule.html" />
    </div>

    <div class="mt-4 text-center text-sm text-slate-400 space-y-4">
      <p class="text-sm/loose">
        Boxing: Tuesday 6:15–7:45 PM, Thursday 6:15–7:45 PM<br>
        Women's Boxing: Monday 6:15–7:30 PM, Wednesday 6:15–7:30 PM<br>
        MMA: Wednesday 7:30–9:00 PM<br>
        Youth Boxing: Monday & Friday 5:15–6:15 PM<br>
        Sparring (Boxing & MMA members): Saturday 11:30 AM–1:30 PM<br>
        Private training (by appointment): Monday–Friday, 9:30 AM–5:00 PM
      </p>
      <p>
        <span class="font-semibold">
          Schedule subject to change. Please contact us to confirm class times.
        </span>
      </p>
    </div>
  </div>
</div>